[submodule "abcmidi"]
	path = abcmidi
	url = https://github.com/Reinissance/abcmidi.git
	branch = WASMable
[submodule "abcmidi"]
	path = abcmidi
	url = https://github.com/Reinissance/abcmidi.git
	branch = WASMable
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
